<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Gerenciamento de compras de ativos financeiros</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="FormatValues.js"></script>
    <script src="app.js"></script>
</head>
<body>
<div class="container" id="app">
    <h1>Gestão de compra de ativos financeiros</h1>
    <br>
    <div class="my-form">
        <h3>Cadastrar nova operação</h3>
        <form @submit.prevent="saveMyData" method="POST">
            <label for="operation_type">Operação:</label>
            <select v-model="myState.operation_type" name="operation_type" id="operation_type">
                <option value="Compra">Compra</option>
                <option value="Venda">Venda</option>
            </select>

            <label for="code">Código:</label>
            <input type="text" v-model="myState.code" name="code" id="code" required>

            <label for="quantity">Quantidade:</label>
            <input type="number" v-model="myState.quantity" name="quantity" id="quantity" required>

            <label for="price">Cotação:</label>
            <input type="number" v-model="myState.price" name="price" step="0.01" id="price" required>

            <label for="operation_date">Data Operação:</label>
            <input type="date" v-model="myState.operation_date" name="operation_date" id="operation_date" required>

            <input type="submit" value="Salvar">
        </form>
    </div>
    <Transition name="fade">
        <div id="loading_container" v-if="loadingData">
            <div id="loading"></div>
        </div>
    </Transition>
    <div id="search_area">
        <label for="code_search">Filtrar por código</label>
        <input type="text" v-model="code_search" name="code" id="code_search" required>
        <button type="button" class="btn-search" @click="callRequest()">Pesquisar</button>

        <p style="color: #453731; margin-top: 15px;">Registros encontrados: {{operations.length}}</p>
    </div>
    <br>
    <table>
        <thead>
        <tr>
            <th>Operação</th>
            <th>Código</th>
            <th>Quantidade</th>
            <th>Cotação</th>
            <th>Data Operação</th>
            <th>Valor Negociado</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(operation, index)  in operations" :key="operation.id">
            <td>{{ operation.operation_type }}</td>
            <td>{{ operation.code }}</td>
            <td>{{ operation.quantity }}</td>
            <td>{{ currencyFormat(operation.price) }}</td>
            <td>{{ operation.operation_date }}</td>
            <td>{{ currencyFormat(operation.operation_amount) }}</td>
            <td>
                <button type="button" @click="deleteMyData(operation.id)">Excluir</button>
                <button class="btn-edit" type="button" @click="getRecordForEdit(operation.id)">Editar</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script type="module">
    const {createApp, ref, onMounted} = Vue

    createApp({
        setup() {
            const loadingData = ref(false)
            const initialState = {
                id: '',
                operation_type: '',
                quantity: '',
                price: '',
                operation_date: '',
                code: ''
            };
            const myState = ref({ ...initialState })
            function resetForm() {
                myState.value = { ...initialState }
            }
            const code_search = ref('')
            const operations = ref([])
            const callRequest = () => {
                loadingData.value = true
                myRequest(code_search.value)
                    .then(response => operations.value = response)
                    .finally(() => loadingData.value = false);
            }
            const saveMyData = () => {
                loadingData.value = true
                if (!myState.value.id) {
                    postMyData(myState.value).then(() => callRequest());
                }else {
                    updateMyData(myState.value).then(() => callRequest());
                }
                resetForm()
            }
            const deleteMyData = (id) => {
                if (window.confirm("Você realmente deseja excluir esse registro?")) {
                    loadingData.value = true
                    deleteRecord(id).then(() => callRequest());
                }
            }
            const getRecordForEdit = (id) => {
                loadingData.value = true
                myRequestOneRecord(id)
                    .then(response => {
                        myState.value = response;
                    })
                    .finally(() => loadingData.value = false);
            }

            onMounted(() => {
                callRequest()
            })
            return {
                operations,
                currencyFormat,
                myState,
                saveMyData,
                deleteMyData,
                loadingData,
                getRecordForEdit,
                code_search,
                callRequest
            }
        }
    }).mount('#app')
</script>
</body>
</html>
